@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 15px;
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  overflow: hidden;
}
#sec-bg {
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}
.wrapper {
  max-width: 500px;
  width: 100%;
  background: #fff;
  border-radius: var(--cornerbubul);
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.wrapper .title {
  height: 175px;
  background: #a7160c;
  border-radius: var(--cornerbubul) var(--cornerbubul) 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper form {
  padding: 25px 35px;
  padding-bottom: 61px;
}
.wrapper form .row {
  height: 60px;
  margin-top: 15px;
  position: relative;
}
.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 70px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 18px;
  transition: all 0.3s ease;
}
form .row input:focus {
  border-color: #770f08;
}
form .row input::placeholder {
  color: #999;
}
.wrapper form .row i {
  position: absolute;
  width: 55px;
  height: 100%;
  color: #fff;
  font-size: 22px;
  background: #a7160c;
  border: 1px solid #a7160c;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass {
  margin-top: 12px;
}
.wrapper form .pass a {
  color: #eea49f;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover {
  text-decoration: underline;
}
.wrapper form .button input {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #a7160c;
  border: 1px solid #a7160c;
  cursor: pointer;
}
form .button input:hover {
  background: #660903;
}
.wrapper form .signup-link {
  text-align: center;
  margin-top: 45px;
  font-size: 17px;
}
.wrapper form .signup-link a {
  color: #a7160c;
  text-decoration: none;
}
form .signup-link a:hover {
  text-decoration: underline;
}